
<div class="publications">
  <h2>selected publications</h2>
  <b>Smooth approximation of stochastic differential equations</b>.<br>  
  Joint work with <a href="https://warwick.ac.uk/fac/sci/maths/people/staff/ian_melbourne/">Ian Melbourne</a>.<br>  
  <code>Annals of Probability</code>. Volume 44, Issue 1 (<b>2016</b>).<br>  
  <a href="https://projecteuclid.org/journals/annals-of-probability/volume-44/issue-1/Smooth-approximation-of-stochastic-differential-equations/10.1214/14-AOP979.full">Journal</a>, <a href="https://arxiv.org/abs/1403.7281">arXiv</a>.
  <br>
  <br>
  <b>Concrete ensemble Kalman filters with rigorous catastrophic filter divergence</b>.<br>  
  Joint work with <a href="https://www.math.nyu.edu/faculty/majda/">Andy Majda</a> and <a href="https://sites.google.com/view/xintongthomson/home">Xin Tong</a>.<br>
  <code>Proceedings of the National Academy of Sciences</code>. Volume 112, No 34 (<b>2015</b>).<br>  
  <a href="https://www.pnas.org/doi/pdf/10.1073/pnas.1511063112">Journal (open access)</a>
  <br>
  <br>
  <b>Geometric vs non-geometric rough paths</b>.<br>  
  Joint work with <a href="https://en.wikipedia.org/wiki/Martin_Hairer">Martin Hairer</a>.<br>  
  <code>Annales de l'Institut Henri Poincaré (B)</code>. Volume 51, Issue 1 (<b>2015</b>).<br>  
  <a href="https://projecteuclid.org/journals/annales-de-linstitut-henri-poincare-probabilites-et-statistiques/volume-51/issue-1/Geometric-versus-non-geometric-rough-paths/10.1214/13-AIHP564.full">Journal (open access)</a>.
  <br>  

</div>
